<div [@fadeInRight] class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between px-3 pb-5 pt-3 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a [routerLink]="'./..'" class="whitespace-nowrap text-primary-500">Clientes</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <span class="ml-1 text-secondary">{{actionName}} Cliente</span>

                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="[ '/contact/customer/all' ]">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-left'">
                        </mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{actionName}} cliente
                    <button  type="button" (click)="save()"
                    class="min-w-10 min-h-7 h-7 px-2 top-1 leading-6
                hidden" mat-button>
                    <mat-icon class="icon-size-7" [svgIcon]="'mat_outline:add_circle_outline'">
                    </mat-icon>
                </button>
                </h2>
            </div>
        </div>

    </div>

    <!-- Main -->
    <div class="flex justify-center p-4 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="max-w-5xl w-full">
            <div class="overflow-hidden">
                <div class="border-b rounded-2xl bg-card p-10">
                    <app-customer #customerComponent></app-customer>


                       <!-- Actions -->
        <div class="flex  flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button type="button" class="mr-3" [disabled]="disabledForm" [routerLink]="[ '/contact/customer/all' ]"
                mat-stroked-button>
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                Cancelar
            </button>
            <button type="button" [disabled]="disabledForm" (click)="save()" [color]="'primary'" mat-flat-button>
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                <span>
                    Guardar
                </span>
            </button>

        </div>
                </div>
            </div>
        </div>

    </div>

</div>