<!-- ITEMS LIST-->
<div [formGroup]="formGroup">
    <div class="grid grid-row-3">

        <div class="grid sm:grid-cols-2">

            <!-- ADD ITEM BUTTON -->
            <div class="flex-auto font-medium  sm:grid-cols-1">
                <button class="w-full md:w-auto " (click)="addItemRowBtn()" mat-stroked-button [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Agregar artículos</span>
                </button>
            </div>

            <div class="flex-auto font-medium  sm:grid-cols-2">

                <button class="w-full md:w-auto" [color]="'primary'" mat-stroked-button (click)="stockItemRowBtn()">
                    <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <span class="ml-2 mr-1"> Existencias</span>

                </button>


                <!-- <button mat-menu-item>Item 2</button> -->

                <!--button class="w-full md:w-auto" [color]="'primary'" mat-stroked-button
                    [matMenuTriggerFor]="menu">Opción</button-->


                <!--mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="stockItemRowBtn()">Existencias</button>
                    <! <button mat-menu-item>Item 2</button>>
                </mat-menu-->
            </div>

        </div>





        <div class="grid grid-row-2 mt-12 ">
            <!-- HEADER ITEMS-->



            <div class="grid p-3 grid-cols-12 items-center gap-x-4 text-white  bg-zinc-500">
                <!---
               <div class="font-medium text-md">Articulos Seleccionados</div>
              </div>-->
                <div class="col-span-4 xs:block sm:block md:hidden font-medium text-md">Articulos Seleccionados</div>
                <div class="hidden xs:hidden sm:hidden md:block col-span-3 font-medium text-md">Descripción</div>
                <div class="hidden xs:hidden sm:hidden md:block col-span-1 font-medium text-md text-center">Desc%</div>
                <div class="hidden xs:hidden sm:hidden md:block  col-span-1 font-medium text-md text-center">Cant.</div>
                <div class="hidden col-span-1 font-medium text-md text-center">Proyecto</div>
                <div class="hidden xs:hidden sm:hidden md:block col-span-1 font-medium text-md text-center">Imp.</div>
                <ng-container *ngIf="typer_of_seller == '1aa1acf5-7b5b-11ed-b8b2-93cfa5187c2a'">
                    <div class="hidden xs:hidden sm:hidden md:block  col-span-1 font-medium text-md text-right">Brilla
                    </div>
                </ng-container>

                <div class="hidden xs:hidden sm:hidden md:block  col-span-2 font-medium text-md text-right">Precio</div>
                <div class="hidden xs:hidden sm:hidden md:block col-span-2 font-medium text-md text-right">Total</div>

            </div>
            <!-- Body ITEMS-->
            <!---List item ini-->

            <!-- Items Array-->
            <div class="hidden md:block">
                <ng-container *ngFor="hidden let item of items.controls; let i=index">
                    <div class=" list-grid grid  mt-1  gap-x-4 items-center border-b py-2 md:px-3"
                        formArrayName="items">


                        <ng-container [formGroup]="item" class="">
                            <!-- Items-->



                            <div class="col-span-1 text-base font-medium">

                                <div class="font-semibold">{{ item.get('code').value }}</div>
                                <div class="text-secondary">{{ item.get('name').value }}</div>

                                <div class="text-secondary">{{ item.get('id').value }}</div>

                            </div>

                            <!-- Desc ...-->
                            <div class="self-center text-left  ">
                                <mat-form-field floatLabel="never" appearance="legacy" class="w-full fuse-mat-dense">
                                    <input type="number" min="0" formControlName="discount" [placeholder]="'Desc%'"
                                        matInput>
                                </mat-form-field>

                            </div>

                            <!-- Cantidad-->
                            <div class="self-center text-left ">
                                <mat-form-field floatLabel="never" appearance="legacy" class="w-full fuse-mat-dense">
                                    <input type="number" min="1" formControlName="quantity" class="text-center"
                                        matInput>
                                </mat-form-field>
                            </div>


                            <!-- PROJECT
                     <div class="self-center text-left ">
                        <mat-form-field floatLabel="never" appearance="legacy" class="w-full fuse-mat-dense">
                            <mat-select formControlName="project" [placeholder]="'Proyecto'">
                                <mat-option *ngFor="let project of projects" [value]="project.code">{{project.name}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>
                    </div>
-->
                            <!-- ivav-->
                            <!--div class="self-center text-left  ">
                                <mat-form-field floatLabel="never" appearance="legacy" class="w-full fuse-mat-dense">
                                    <mat-select formControlName="tax" [placeholder]="'IVAV19'">

                                        <mat-option  class="text-sm" *ngFor="let tax of taxes" [value]="tax.code">
                                            {{tax.code}}
                                        </mat-option>





                                    </mat-select>
                                </mat-form-field >
                            </div-->

                            <!-- Brilla-->
                            <ng-container *ngIf="this.user.sellerTypeId === '1aa1acf5-7b5b-11ed-b8b2-93cfa5187c2a'">

                                <div class="self-center text-left ">
                                    <mat-form-field floatLabel="never" appearance="legacy"
                                        class="w-full fuse-mat-dense">
                                        <mat-select formControlName="brilla" [placeholder]="'Brilla'">
                                            <mat-option class="text-sm" *ngFor="let price of brilla_prices"
                                                [value]="price.value">{{price.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </ng-container>
                            <!-- price-->
                            <div class="self-center text-right border-nonet ">
                                <div class="font-semibold text-lg">{{ item.get('price').value | currency }}</div>
                            </div>


                            <!-- Total  -->
                            <div class="self-center text-right  ">
                                <div class="font-semibold text-lg">{{ item.get('total').value | currency }}</div>
                            </div>
                            <div class="self-center text-right   ">
                                <button   *ngIf="item.get('id').value == ''" (click)="removeItemRowBtn(i)" mat-button>
                                    <mat-icon class="text-gray-400 icon-size-5" [svgIcon]="'heroicons_solid:x'">
                                    </mat-icon>
                                </button>
                            </div>

                            <!-- Details button -->
                            <!---   -->
                            <button type="button" class="hidden min-w-10  min-h-7 h-7 px-2 leading-6" mat-stroked-button
                                (click)="toggleDetails(item.get('id'))">
                                <mat-icon class="icon-size-5"
                                    [svgIcon]="selectedProduct === item.id  ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'">
                                </mat-icon>
                            </button>

                            <div class="grid col-span-2 ">
                                <ng-container *ngIf="selectedProduct === item.get('id')">
                                    <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: item}">
                                    </ng-container>
                                </ng-container>
                            </div>

                        </ng-container>

                    </div>
                </ng-container>


            </div>

            <!--- list end-->


            <!-- Item list detail
        <ng-template #rowDetailsTemplate let-item>
            <div class="overflow-hidden">
                 -->
            <!-- Selected product form -->

            <div class="md:hidden">
                <ng-container *ngFor="let item of items.controls; let i=index">
                    <ng-container [formGroup]="item">
                        <div
                            class="px-5 py-3  mt-1 gap-x-4 items-center border-b py-2 md:px-3 ng-valid ng-star-inserted ng-touched ng-dirty">
                            <!-- ROW 0 -->

                            <div class="col-span-4 text-base font-medium " style="
                          background: #ffff;
                          padding: 1px;
                          margin: 1px 3px 7px 1px;
                          text-align: center;
                      ">
                                <div class="text-secondary">
                                    <span style="color:#68a9ed;">
                                        {{ item.get('name').value }}
                                    </span>
                                </div>
                                <div class="font-semibold">
                                    {{ item.get('code').value }}</div>

                                <div> {{ item.get('price').value | currency }}</div>
                                <div>
                                    <span style="color: red;">
                                        {{ item.get('total').value | currency }}
                                    </span>
                                </div>


                                <button *ngIf="item.get('id').value == ''" (click)="removeItemRowBtn(i)" mat-button>
                                    <mat-icon class="text-gray-400 icon-size-5" [svgIcon]="'heroicons_solid:trash'">
                                    </mat-icon>
                                </button>
                            </div>
                            <!-- ROW 1 -->
                            <div class=" flex ">
                                <div>
                                    <mat-form-field floatLabel="float" appearance="legacy"
                                        class=" w-full fuse-mat-dense">
                                        <input type="number" min="0" formControlName="discount"
                                            [placeholder]="'Descuento %'" matInput>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field floatLabel="float" appearance="legacy"
                                        class=" w-full fuse-mat-dense">
                                        <input type="number" min="1" [placeholder]="'Cantidad'"
                                            formControlName="quantity" matInput>
                                    </mat-form-field>
                                </div>





                            </div>
                            <!-- ROW 2-->
                              <!--
                            <div class="flex ">

                            <mat-form-field floatLabel="float" appearance="legacy" class="w-full fuse-mat-dense">
                                <mat-select formControlName="project" [placeholder]="'Proyecto'">
                                    <mat-option *ngFor="let project of projects" [value]="project.code">{{project.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>


                                <div>

                                    <mat-form-field floatLabel="float" appearance="legacy"
                                        class="flex grid w-full fuse-mat-dense">
                                        <mat-select formControlName="tax" [placeholder]="'IVAV19'">

                                            <mat-option class="text-sm" *ngFor="let tax of taxes" [value]="tax.code">
                                                {{tax.code}}
                                            </mat-option>


                                        </mat-select>

                                    </mat-form-field>
                                </div-->
                                <div>
                                    <!-- Brilla-->
                                    <ng-container *ngIf="typer_of_seller == '1aa1acf5-7b5b-11ed-b8b2-93cfa5187c2a'">

                                        <div class="self-center text-left ">
                                            <mat-form-field floatLabel="never" appearance="legacy"
                                                class="w-full fuse-mat-dense">
                                                <mat-select formControlName="brilla" [placeholder]="'Brilla'">
                                                    <mat-option class="text-sm" *ngFor="let price of brilla_prices"
                                                        [value]="price.value">{{price.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                    </ng-container>
                                </div>



                            </div>
                            <!-- ROW 3
                        <div class="flex w-full">
                            <mat-form-field floatLabel="float" appearance="legacy" class="flex grid w-full fuse-mat-dense">
                                <mat-select formControlName="tax" [placeholder]="'Impuesto'">

                                    <mat-option class="text-sm" *ngFor="let tax of taxes" [value]="tax.code">
                                        {{tax.code}}
                                    </mat-option>


                                </mat-select>

                            </mat-form-field>
                        </div>
                    -->
                            <!-- Brilla-->


                            <!-- ROW 4
                        <div class="flex grid ">
                            <div class="flex flex-col" style="
                            margin-right: 50px;
                        " >

                                <div class="font-semibold">Precio</div>
                                <div class="font-semibold text-lg">{{ item.get('price').value | currency }}</div>
                            </div>
                            <div class="flex flex-col">
                                <div class="font-semibold">Total</div>
                                <div class="font-semibold text-lg">{{ item.get('total').value | currency }}</div>
                            </div>

                        </div>
                        -->
                            <!-- ROW 4
                        <div class="flex left">
                            <button (click)="removeItemRowBtn(i)" mat-button>
                                <mat-icon class="text-gray-400 icon-size-5" [svgIcon]="'heroicons_solid:trash'">
                                </mat-icon>
                            </button>
                        </div>

                    -->
                        </div>

                    </ng-container>
                </ng-container>




            </div>

        </div>

        <div class="text-center text-secondary md:mt-3" *ngIf="items.controls.length == 0">
            No hay artículos agregados a este pedido.
        </div>


    </div>
</div>


<!-- TOTALES-->
<div class="flex flex-col md:flex-row justify-between  gap-3 mt-5 flex-wrap-reverse">

    <!-- COMMENTS -->
    <div class="order-last md:order-first font-medium text-md pt-10 basis-1/2 ">
        <mat-form-field appearance="outline" class="w-full fuse-mat-dense">
            <textarea maxlength="250" placeholder="Comentarios..." [(ngModel)]="comments" matInput name="comments"
                id="comments" cols="10" rows="5"></textarea>
        </mat-form-field>
    </div>

    <!-- TOTAL SUMMARY -->
    <div class=" font-medium text-md text-left">
        <div class="grid gap-2 grid-cols-2 p-3">

            <div class="self-center font-medium tracking-tight text-secondary text-right">
                SUBTOTAL
            </div>
            <div class="text-right text-lg">{{subTotal | currency}}</div>

            <!-- DISCOUNT -->
            <ng-container *ngIf="discount > 0">
                <div class="self-center font-medium tracking-tight text-secondary text-right ">
                    DESCUENTO</div>
                <div class="text-right text-lg text-right">- {{discount | currency}}</div>
            </ng-container>

            <!-- TAXES -->
            <ng-container *ngFor="let tax of totalTaxes">

                <div *ngIf="tax.value>0"
                    class="self-center font-medium tracking-tight text-secondary text-right uppercase">
                    {{tax.name}}
                </div>
                <div *ngIf="tax.value>0" class="text-right text-lg text-right"> {{tax.value | currency}}

                </div>

            </ng-container>


            <!-- Divider -->
            <div class="col-span-2 my-3 border-b"></div>

            <!-- Total -->
            <div class="self-center text-2xl font-medium tracking-tight text-secondary text-righ">
                TOTAL</div>
            <div class="text-right text-2xl font-medium text-righ">{{total | currency}}</div>
        </div>
    </div>


</div>