<div [@fadeInRight] class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-6 sm:px-10 border-b bg-card dark:bg-transparent">
        <!-- Breadcrumbs -->
        <div class="flex-1 min-w-0">
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a [routerLink]="'./..'" class="whitespace-nowrap text-primary-500">Pedidos</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <span class="ml-1 text-secondary"> Nuevo Pedido</span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-left'">
                        </mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>

            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">Nuevo Pedido</div>
        </div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
            <!-- Cancel  button -->
            <button mat-flat-button [color]="'accent'" [routerLink]="'/contact/purchase/all'">
                <mat-icon  [svgIcon]="'heroicons_outline:x'"></mat-icon>
                <span class="mr-1">Cancelar</span>
            </button>
            <!-- Save button -->
            <button (click)="save()" class="ml-4" mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                <span class="ml-2 mr-1">Guardar</span>
            </button>
             <!-- Save button -->
             <button (click)="save()" class="ml-4" mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
                <span class="ml-2 mr-1">Guardar & Pagar</span>
            </button>
        </div>
    </div>

    <div class="inset-0 min-w-0 text-center overflow-auto print:overflow-visible" cdkScrollable>
        <!-- Main -->
        <div class="inline-block p-6 sm:p-10 text-left print:p-0">

            <!-- Invoice -->
            <ng-container [formGroup]="formGroup">
                <div
                    class="w-240 pt-1 pb-10  px-10 rounded-2xl shadow bg-card print:w-auto print:rounded-none print:shadow-none print:bg-transparent">

                    <!-- ORDER HEADER -->
                    <div class="flex flex-row">
                        <div class="flex-grow">
                            <!-- NUMERATION -->
                            <div class="md:flex md:items-center">
                                <div class="grid grid-cols-4 gap-x-4 gap-y-1 pt-5">
                                    <div class="text-2xl tracking-tight text-secondary">No</div>
                                    <div class="text-2xl col-span-3">#9-0004</div>
                                </div>
                            </div>

                            <!-- DATES -->
                            <!-- <div class="mt-6">
                                <ci-date-field #dateField title="Fecha"></ci-date-field>
                              
                            </div> -->
                            

                        </div>
                        <div class="flex text-right">
                            <div
                                class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer"
        
                                (click)="dueDatePicker.open()">
                                <mat-icon
                                    class="icon-size-5 text-current"
                                    [svgIcon]="'edit_calendar'"></mat-icon>
                                <span class="ml-2 text-md font-medium">
                                   
                                    <ng-container>Not set</ng-container>
                                </span>
                                <mat-form-field class="fuse-mat-no-subscript fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none">
                                    <input
                                        matInput
                                       
                                        [matDatepicker]="dueDatePicker">
                                    <mat-datepicker #dueDatePicker>
                                        <mat-datepicker-actions>
                                            <button
                                                mat-button
                                             
                                                matDatepickerCancel>Clear
                                            </button>
                                            <button
                                                class=""
                                                mat-flat-button
                                                [color]="'primary'"
                                                matDatepickerApply>Select
                                            </button>
                                        </mat-datepicker-actions>
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- COMPANY BRAND -->
                        <!-- <app-company-brand></app-company-brand> -->
                    </div>


                    <div class="flex flex-row justify-between flex-wrap">

                        <!-- CUSTOMER SEARCH-->
                        <div class="basis-3/6 flex-start">
                            <div class="flex items-center justify-center my-3 mx-6">
                                <div class="flex-auto border-b"></div>
                                <div class="flex-0 mx-4 text-lg font-medium leading-5 text-secondary">
                                    Información del cliente
                                </div>
                                <div class="flex-auto border-b"></div>
                            </div>
                            <ci-customer-search #customerApp></ci-customer-search>
                        </div>

                        <!-- DELIVERY INFORMATION-->
                        <div class="flex-start  basis-3/6">
                            <!-- TITLE -->
                            <div class="flex items-center justify-center my-3 mx-6">

                                <div class="flex-auto border-b"></div>
                                <div class="flex-0 mx-4 text-lg font-medium leading-5 text-secondary">
                                    Información del envio
                                </div>
                                <div class="flex-auto border-b"></div>
                            </div>
                            <!-- CONTENT -->

                            <!-- ADD DELIVERY BUTTON -->
                            <!-- <div class="flex item-center justify-center mt-6">
                                <button mat-stroked-button [color]="'primary'">
                                    <mat-icon  [svgIcon]="'heroicons_solid:truck'"></mat-icon>
                                    <span class="ml-2">Agregar Envio</span>
                                </button>
                            </div> -->
                           
                            <div class="grid mx-6">
                                <div class="text-right">
                                    <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-button>
                                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:pencil'">
                                            </mat-icon>
                                        </button>
                                        <button
                                        class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-button>
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:annotation'">
                                        </mat-icon>
                                    </button>
                                        <button
                                        class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-button>
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:trash'">
                                        </mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <div class="text-sm font-medium leading-5 text-secondary" >Contacto</div>
                                    <div class="text-lg leading-5 text-secondary" >Jesus David Palomino Esquea</div>
                                </div>
                                <div>
                                    <div class="text-sm font-medium leading-5 text-secondary" >Direccion 1</div>
                                    <div class="text-lg leading-5 text-secondary" >Carrera 9G #131-80 Apo 503 T32s, Barranquilla, Atlantico</div>
                                </div>
                                <div>
                                    <div class="text-sm font-medium leading-5 text-secondary" >Barrio</div>
                                    <div class="text-lg leading-5 text-secondary" >Caribe Verde</div>
                                </div>
                            </div>

                        </div>
                    </div>




                    <!--ITEM TABLE-->
                    <div class="mt-12">
                        <ci-item-table #itemsApp [formGroup]="formGroup"></ci-item-table>
                    </div>

                </div>
            </ng-container>
        </div>
    </div>
</div>