<div [@fadeInRight] class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-6 sm:px-10 border-b bg-card dark:bg-transparent">
        <!-- Breadcrumbs -->
        <div class="flex-1 min-w-0">
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a [routerLink]="'/sales/purchase/all'" class="whitespace-nowrap text-primary-500">Pedidos</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <span class="ml-1 text-secondary"> Nuevo Pedido</span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-left'">
                        </mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>

            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">Nuevo Pedido</div>
        </div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
            <!-- Cancel  button -->
            <button mat-flat-button [color]="'accent'" [routerLink]="'/contact/purchase/all'">
                <mat-icon  [svgIcon]="'heroicons_outline:x'"></mat-icon>
                <span class="mr-1">Cancelar</span>
            </button>
            <!-- Save button -->
            <button (click)="save()" class="ml-4" mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                <span class="ml-2 mr-1">Guardar</span>
            </button>
             <!-- Save button -->
             <!-- <button (click)="save()" class="ml-4" mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
                <span class="ml-2 mr-1">Guardar & Pagar</span>
            </button> -->
        </div>
    </div>

    <div class="inset-0 min-w-0 text-center  " cdkScrollable>
        <!-- Main -->
        <div class="inline-block p-6 sm:p-10 text-left print:p-0">

            <!-- Invoice -->
    
                <div  [formGroup]="formGroup"
                    class="w-240 pt-3 pb-10  px-10 rounded-2xl shadow bg-card ">


                    <div class="flex  gap-x-8 flex-row justify-between ">

                      

                        <!-- CUSTOMER SEARCH-->
                        <div class="basis-3/6 flex-start">
                            <div class="flex items-center justify-center my-5">
                                <div class="flex-auto border-b"></div>
                                <div class="flex-0 text-lg font-medium leading-5 text-secondary">
                                    Información del cliente
                                </div>
                                <div class="flex-auto border-b"></div>
                            </div>
                            <ci-customer-search #customerApp></ci-customer-search>
                        </div>

                           <!-- PURCHASE Infomration-->
                           <div class="basis-3/6 flex-start">
                            <div class="flex items-center justify-center my-5">
                                <div class="flex-auto border-b"></div>
                                <div class="flex-0 text-lg font-medium leading-5 text-secondary">
                                    Información del Pedido
                                </div>
                                <div class="flex-auto border-b"></div>
                            </div>
                            <ci-order-information #orderInfoApp></ci-order-information>
                        </div>

                       
                    </div>

                    <!--ITEM TABLE-->
                    <div class="mt-12">
                        <ci-item-table #itemsApp [formGroup]="formGroup"></ci-item-table>
                    </div>

                </div>
     
        </div>
    </div>
</div>