/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
body.light .mat-form-field-appearance-legacy .mat-form-field-underline,
body .light .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent !important;
}

body.light .mat-form-field-appearance-legacy .mat-form-field-underline,
body .light .mat-form-field-appearance-legacy .mat-form-field-underline:focus {
    background-color: rgb(129 129 129);
}

.mat-select-panel-wrap {
    flex-basis: 100%;
    //min-width: 350px !important;
}



.custom-m-height-calc {
    max-height:  calc(100vh - 286px) !important;
}


.mat-dialog-container {
    max-height:  calc(100vh - 38px) !important;
    scale: none;
}

.custom-m-bottom {
    max-height: calc(100vh - 222px) !important;

}


@media only screen and (max-width: 600px) {
    .cdk-overlay-pane {
        left: 10px !important;
        max-width: 97vw !important;
    }



    .mat-select-pannoneel-wrap{
        min-width: 320px !important;
    }
}

