<div class="grid auto-cols-max grid-flow-col gap-x-8 -mr-10 py-6 px-8 rounded-l-2xl bg-accent-700 dark">

    <div class="place-self-center">
        <img class="w-50 rounded-l-md" src="assets/images/gm-system/gm-logo.png">
    </div>
    <div class="pl-10 border-l text-md">
        <div class="font-medium">GM Group</div>
        <div>2810 Country Club Road</div>
        <div>Nit 123232329</div>
        <div>+66 123 455 87</div>
        <div>hello@fuseinc.com</div>
        <div>www.fuseinc.com</div>
    </div>
</div>