<div [@fadeInRight] class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>


    <!-- Header -->
    <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between px-3 pb-5 pt-3 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
        <!-- Breadcrumbs -->
        <div>
            <div class="hidden sm:flex flex-wrap items-center font-medium">
                <div>
                    <a  [routerLink]="'/sales/quotation/all'" class="whitespace-nowrap text-primary-500">Cotizaciones</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="ml-1 text-secondary">Nueva Cotización</span>

                </div>
            </div>
            <div class="flex sm:hidden">
                <a class="inline-flex items-center -ml-1.5 text-secondary font-medium"  [routerLink]="'/sales/quotation/all'">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-left'">
                    </mat-icon>
                    <span class="ml-1">Back</span>
                </a>
            </div>
        </div>
        <!-- Title -->
        <div class="mt-2">
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
               Nueva Cotización
                <button  (click)="save()"
                class="min-w-10 min-h-7 h-7 px-2 top-1 leading-6 hidden" mat-button>
                <mat-icon class="icon-size-7" [svgIcon]="'mat_outline:add_circle_outline'">
                </mat-icon>
            </button>
            </h2>
        </div>
    </div>

</div>

  <div class="inset-0 min-w-0 text-center  " cdkScrollable>
      <!-- Main -->
      <div class="flex inline-block p-6   md:p-10 text-left print:p-0">

          <!-- Invoice -->

          <div [formGroup]="formGroup" class="w-full md:pt-3 pb-10  md:px-10 rounded-2xl md:shadow md:bg-card ">


              <div class="flex flex-wrap md:flex-nowrap   gap-x-8 flex-row justify-between ">

                  <!-- CUSTOMER SEARCH-->
                  <div class="md:basis-3/6 w-full flex-start">
                      <div class="flex items-center justify-center my-5">
                          <div class="flex-auto border-b"></div>
                          <div class="flex-0 text-lg font-medium leading-5 text-secondary">
                              Información del cliente
                          </div>
                          <div class="flex-auto border-b"></div>
                      </div>
                      <ci-customer-search [quotation]="true" #customerApp></ci-customer-search>
                  </div>

                  <!-- PURCHASE Infomration-->
                  <div class="md:basis-3/6 w-full flex-start">
                      <div class="flex items-center justify-center my-5">
                          <div class="flex-auto border-b"></div>
                          <div class="flex-0 text-lg font-medium leading-5 text-secondary">
                              Información del Pedido
                          </div>
                          <div class="flex-auto border-b"></div>
                      </div>
                      <ci-order-information [estimatedDate]="estimatedDate" #orderInfoApp ></ci-order-information>
                  </div>


              </div>

              <!--ITEM TABLE-->
              <div class="mt-12 ">
                  <ci-item-table  (onEstimatedDate)="changeEstimatedDate($event)" #itemsApp [formGroup]="formGroup"></ci-item-table>


                  <button type="button" class="mr-3" [disabled]="disabledForm" [routerLink]="[ '/sales/quotation/all' ]"
                  mat-stroked-button>
                  <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                  Cancelar
              </button>
              <button type="button" [disabled]="disabledForm" (click)="save()" [color]="'primary'" mat-flat-button>
                  <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                  <span>
                      Guardar
                  </span>
              </button>
              </div>

          </div>

      </div>

  </div>

</div>