<mat-select [placeholder]="placeholder" #select [formControl]="formControlSelect" [ngStyle]="customStyle"
    [ngClass]="customClass" (blur)="onTouched()" [multiple]="multiple">
    <mat-option>
        <ngx-mat-select-search [formControl]="dataFilterCrtl" [placeholderLabel]="labelSearch"
            noEntriesFoundLabel="Sin resultado...">
        </ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let data of filteredData | async" [value]="data.code">
        {{data.name }}
      </mat-option>

  
</mat-select>
