<div class="inset-0 min-w-0 text-center overflow-auto print:overflow-visible" cdkScrollable>
    <!-- Main -->
    <div class="inline-block p-6 sm:p-10 text-left print:p-0">

        <div
            class="w-240 p-10  rounded-2xl shadow bg-card print:w-auto print:rounded-none print:shadow-none print:bg-transparent">
            <div class="bg-red-200 text-red-800 uppercase grid mb-10 text-white auto-cols-max grid-flow-col w-36  gap-x-8 -ml-10 -mt-10 py-1 px-5 rounded-tl-2xl rounded-br-2xl"
               >
               Por cobrar
            </div>

            <div class="flex items-start justify-between">
                <div class="grid grid-cols-2 gap-x-4 gap-y-1">
                    <div class="text-4xl tracking-tight text-secondary">No.</div>
                    <div class="text-4xl">{{quotation?.number}}</div>
                    <div class="font-medium tracking-tight text-secondary">Fecha creación</div>
                    <div class="font-medium">{{quotation?.date | date}}</div>
                    <div class="font-medium tracking-tight text-secondary">Fecha vigencia</div>
                    <div class="font-medium">{{quotation?.dueDate | date}}</div>
                    <div class="font-medium tracking-tight text-secondary">TOTAL </div>
                    <div class="font-medium">{{quotation.total | currency}}</div>
                </div>
                <div >
                    <app-company-brand></app-company-brand>
                </div>
            </div>

            <div class="text-md">
                <div class="text-xl font-medium">{{quotation?.customer?.firstName}} {{quotation?.customer?.lastName}}
                </div>
                <div>{{quotation?.customer?.address}}</div>
                <div>{{quotation?.customer?.email}}</div>
                <div>{{quotation?.customer?.phone}}</div>
            </div>

            <!-- TABLE ITEMS-->
            <div class="grid grid-row-2 mt-12">
                <!-- HEADER ITEMS-->
                <div class="grid p-3 grid-cols-12 items-center gap-x-4 text-white  bg-accent-700">
                    <div class="col-span-4 font-medium text-md">Producto</div>
                    <div class="col-span-2 font-medium text-md text-right">Precio</div>
                    <div class="col-span-1 font-medium text-md text-center">Desc%</div>
                    <div class="col-span-2 font-medium text-md text-center">Impuesto</div>
                    <div class="col-span-1 font-medium text-md text-left">Cantidad</div>
                    <div class="col-span-2 font-medium text-md text-right">Total</div>
                </div>
                <!-- HEADER BODY-->
                <div class="grid mt-1 grid-cols-12 gap-x-4 items-center px-2">
                    <!-- Items Array -->
                    <ng-container *ngFor="let item of quotation?.orderDetails; let i=index">

                        <!-- Items -->
                        <div class="col-span-4 py-3">{{item?.name}}</div>
                        <div class="col-span-2 text-right">{{item?.price | currency}}</div>
                        <div class="col-span-1 text-center">{{item?.discount}}%</div>
                        <div *ngIf="item?.tax?.name; else elseTemplate" class="col-span-2 text-center">
                            {{item?.tax?.name}} ({{item?.tax?.percentage}}%)
                        </div>
                        <ng-template #elseTemplate>
                            <div class="col-span-2 text-center">0%</div>
                        </ng-template>

                        <div class="col-span-1 text-center">{{item?.quantity }}</div>
                        <div class="col-span-2 text-right">{{item?.total | currency}}</div>

                        <!-- Divider -->
                        <div class="col-span-12 my-1 border-b"></div>
                    </ng-container>


                </div>
            </div>

            <!-- TOTALES-->
            <div class="grid grid-row-1 mt-5">
                <div class="grid grid-cols-3">
                    <div class="col-span-2 font-medium text-md">

                    </div>
                    <div class="font-medium text-md text-left">
                        <div class="grid gap-2 grid-cols-2 p-3">

                            <div class="self-center font-medium tracking-tight text-secondary text-right">
                                SUBTOTAL
                            </div>
                            <div class="text-right text-lg">{{subTotal | currency}}</div>

                            <ng-container *ngFor="let tax of groupTaxes">
                                <div class="self-center font-medium tracking-tight text-secondary text-right">
                                    {{tax.name}}
                                </div>
                                <div class="text-right text-lg text-right"> {{tax.value | currency}}</div>
                            </ng-container>

                            <ng-container *ngIf="discount > 0">
                                <div class="self-center font-medium tracking-tight text-secondary text-right">
                                    DESCUENTO</div>
                                <div class="text-right text-lg text-right">- {{discount | currency}} </div>
                            </ng-container>
                            <!-- Divider -->
                            <div class="col-span-2 my-3 border-b"></div>

                            <!-- Total -->
                            <div class="self-center text-2xl font-medium tracking-tight text-secondary text-righ">
                                TOTAL</div>
                            <div class="text-right text-2xl font-medium text-righ">{{total | currency}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>