<!-- COLUMN 1 -->
<ng-container [formGroup]="formGroup">
    <div class="flex  items-start justify-between">
        <div class="w-full">
            <!-- Client -->
            <div>
                <!-- COLUMN 1 -->
                <!-- <div class="md:w-1/4">
                    <div class="font-medium tracking-tight text-secondary">Cliente*</div>
                </div> -->
                <!-- COLUMN 2 -->
                <div>
                    <mat-form-field class="w-full fuse-mat-dense c-mb-0  c-h-35 fuse-mat-emphasized">
                        <select-multi-columns [dataSource]="clients" [widthList]="'500px'"
                        labelButton="Nuevo Cliente" [placeholder]="'Seleccionar Cliente'"
                        [headers]="['Identificación','Nombre']"  (selectedChange)="clientChange($event)"
                        [displayColumns]="['identification', 'name']" [customStyle]="{width: '100%'}"
                        selectedValue="id" [selectedText]="setClientText" formControlName="customerId"
                        (onFilter)="getClients($event)"
                        [isDataOnline]="true"
                        [charterCountFilter]="4"
                        (onClickButton)="openClientDialog()">
                    </select-multi-columns>
                    </mat-form-field>
                </div>
            </div>
            <!-- Identificacion -->
            <div class="grid gap-y-2">
                <div class="flex w-full gap-4">
                    <div class="text-md font-medium leading-5 text-secondary basis-2/12" >Identificación</div>
                    <div class="text-lg leading-5 text-secondary w-full" >{{client.identification}}</div>
                </div>
                <div  class="flex w-full gap-4">
                    <div class="text-md font-medium leading-5 text-secondary basis-2/12" >Telefono</div>
                    <div class="text-lg leading-5 text-secondary  w-full" >{{client.phone}}</div>
                </div>
                <div class="flex flex w-full gap-4">
                    <div class="text-md font-medium leading-5 text-secondary  basis-2/12" >Correo</div>
                    <div class="text-lg leading-5 text-secondary w-full" >{{client.email}}</div>
                </div>
                <div class="flex flex w-full gap-4">
                    <div class="text-md font-medium leading-5 text-secondary  basis-2/12" >Proyecto</div>
                    <div class="text-lg leading-5 text-secondary w-full" >{{client.project}}</div>
                </div>
            </div>
            
        </div>
    </div>
</ng-container>